<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1">
  <test name="Login test">
    <parameter name="email" value="gioi@phptravels.com"></parameter>
    <parameter name="password" value="demouser"></parameter>
    <parameter name="username" value="gioi"></parameter>
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="selenium.phptravels.testcases.Login">
        <methods>
          <include name="loginSuccess"></include>
        </methods>
      </class>
    </classes>
  </test>
  <test name="Login test1">
    <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="selenium.phptravels.testcases.Login">
        <methods>
          <include name="verifyPlaceholder"></include>
        </methods>
      </class>
    </classes>
  </test>
  <test name="DateTime test">
    <classes>
      <class name="test.datetime.DateHandleTest">
      </class>
    </classes>
  </test>
</suite>